body {
    height: 100vh;
    background-color: gray;
    font-family: sans-serif;
}

#topBorder {
    border: 3px black solid;
    background-color: lightgrey;
    max-width: 25%;
    max-height: 40rem;
}

h1 {
    color: black;
    text-align: center;
    margin-bottom: 0.5em;   
}

#inputContainer {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
align-content: space-evenly;
}

#inputContainer input {
    margin-top: 3px;
    margin-bottom: 8px;
}

h3 {
    text-align: center;
    margin-bottom: -1.5em;
}

p {
    text-align: center;
}

#buttons {
    text-align: center;
}

#calculate {
    text-align: center;
}

#clear {
    text-align: center;
    margin: 3px;
}

#grandTotalText {
    font-size: 30px;
}

#subtext {
    font-style: italic;
    padding-left: 5em;
}

#bottomBorderContainer {
background-color: antiquewhite;
border-radius: 5%;
width: 50%;
justify-content: center;
text-align: center;
margin-left: 25%;
margin-bottom: 1rem;
}

h4 {
text-align: center;
margin-top: -1em;
margin-bottom: -1rem;
padding-top: 0.5rem;
}

#billTotal {
    padding-top: 0.5rem;
}

#twentyFive {
    padding-bottom: 0.5rem;
}

#billInput {
    text-align: center;
}

#tipPercentageInput {
    text-align: center;
}

#divideByInput {
    text-align: center;
}
