body {
    background-color: white;
}

#topBorder {
    border: 1px black solid;
    max-width: 50%;
}

h2 {
    color: black;
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

#buttons {
    text-align: center;
}

#calculate {
    text-align: center;
}

#clear {
    text-align: center;
}

#bottomBorder {
border: 1px solid black;
}